[push]
        default = simple
[user]
        name = KIMURA Tetsuro
        email = haribote.nobody@gmail.com
[core]
        editor = vi
	excludesfile = ~/.gitignore_global
        autocrlf = input
[color]
        ui = auto
        status = auto
        diff = auto
        branch = auto

[ghq]
	root = ~/Sites
