[user]
	name = KIMURA Tetsuro
	email = haribote.nobody@gmail.com
[core]
	excludesfile = /Users/haribote/.gitignore_global
[color]
	ui = auto
	status = auto
	diff = auto
	branche = auto
[alias]
	ck = checkout
	cm = commit -m
	mg = merge --no-ff
	br = branch
	am = commit --amend -C HEAD
	st = status
	graph = log --graph --pretty=oneline
	a = add .
	pk = cherry-pick

